<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029438330318-1a4clr6m771i9j9gbe48bm9c0firhrdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029438330318-1a4clr6m771i9j9gbe48bm9c0firhrdl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029438330318-87jaqnakcl95jr7hi3omipdk0e790a3n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBC1VJDNboDKJwgURMy6ENRg750wG8H2I</string>
	<key>GCM_SENDER_ID</key>
	<string>1029438330318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cookery</string>
	<key>PROJECT_ID</key>
	<string>college-app-f76c7</string>
	<key>STORAGE_BUCKET</key>
	<string>college-app-f76c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029438330318:ios:926a397065bde35ee7c79f</string>
	<key>DATABASE_URL</key>
	<string>https://college-app-f76c7.firebaseio.com</string>
</dict>
</plist>